@font-face{
	font-family: 'code';
	src: url('../code_light.otf');
}

*{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.clearfix:after{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: " ";
	visibility: hidden;
}

.parent{
	padding: 0;
	margin: 220px 70px 20px 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.child{
	width: 300px;
	height: 400px;
	margin: auto;
	margin-bottom: 30px;
	background-color: #9999ff;
}

h2{
	font: 48px 'code', sans-serif;
	letter-spacing: 2px;
}

h3{
	font: 36px 'code', sans-serif;
	letter-spacing: 2px;
}

h4{
	font-family: 'Adobe Ming Std', serif;
}

a{
	text-decoration: none;
	color: #333;
}

p{
	font-family: 'Adobe Ming Std', serif;
}

/* HEADER STYLES */
header{
	width: 80%;
    padding: 0 10%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: hidden;
    /*display: block;*/
}

header h1{
	position: relative;
	top: 30px;
	margin: 0 auto;
	text-align: center;
	display: block;
	font: 72px 'code', sans-serif;
	letter-spacing: 2px;
}

header h1 a{
	display: block;
	text-align: center;
}

.navbar{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	/*flex: 1 1 auto;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	/*display: block;*/
	
}

nav ul{
	list-style-type: none;
	display: flex;
	margin: 20px auto;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	display: flex;
	flex: 1 1 auto;
	/*float: left;*/
	padding: 0 10px;
	margin: auto;
	font: 24px 'Adobe Ming Std', serif;
	line-height: 25px;
}

nav ul li a{
	display: block;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
	color: #333;
}

nav ul li a:hover{
	text-shadow: 0 0 18px #9999ff;

}


/* STORIES PAGE STYLES */

/* POETRY PAGE STYLES */

/* ABOUT PAGE STYLES */

#about div.parent{
	width: 80%;
	height: auto;
	margin: 200px auto 30px auto;
}

/*#about div.parent div h2{
	font: 48px 'code', sans-serif;
	letter-spacing: 2px;
}*/

#about div.parent div div p{
	/*font: 24px 'Adobe Ming Std', serif;*/
	font-size: 24px;
}


/* HOME PAGE STYLES */

#home div.parent{
	width: 80%;
	height: auto;
	margin: 200px auto 30px auto;
	position: relative;
}

#home div.parent div{
	width: 80%;
	height: auto;
	display: block;
}

#home div.parent div h2{
	/*font: 48px 'code', sans-serif;
	letter-spacing: 2px;*/
	display: block;
}

#home div.submission{
	margin: 20px auto;
	/*border: 1px solid #99ccff;*/
	box-shadow: 0 0 10px #ffe6e6, inset 0 0 10px #ffe6e6;
}

#home div.parent div div.submission h3{
	text-decoration: none;
	color: #333;
	/*font: 24px 'code', sans-serif;
	letter-spacing: 2px;*/
	text-align: center;
	display: inline-block;
	position: relative;
	/*width: auto;*/
	bottom: 165px;
	overflow: hidden;
	/*z-index: 25;*/
	/*left: 280px;*/
}

#home div.parent div div.submission h3 a:hover{
	text-shadow: 0 0 18px #4da9ff;
}

#home div.parent h4{
	font-size: 12px;
	font-style: italic;
	text-align: center;
	display: inline-block;
	position: absolute;
	width: auto;
	top: 150px;
	left: 455px;
}

#home div.parent div div.submission p{
	/*font: 18px 'Adobe Ming Std', serif;*/
	font-size: 15px;
	text-align: left;
	display: inline-block;
	position: absolute;
	width: auto;
	top: 185px;
	left: 455px;
}

#home div.parent div div.submission img{
	margin: 20px 20px 20px 40px;
	/*z-index: 50;*/
}

























