@font-face{
	font-family: 'code';
	src: url('../code_light.otf');
}

*{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.clearfix:after{
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	content: " ";
	visibility: hidden;
}

.parent{
	padding: 0;
	margin: 220px 70px 20px 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.child{
	width: 300px;
	height: 400px;
	margin: auto;
	margin-bottom: 30px;
	box-shadow: 0 0 10px #ffe6e6, inset 0 0 10px #ffe6e6;
}

h2{
	font: 48px 'code', sans-serif;
	letter-spacing: 2px;
}

h3{
	font: 36px 'code', sans-serif;
	letter-spacing: 2px;
}

h4{
	font: italic 12px 'Adobe Ming Std', serif;
}

a{
	text-decoration: none;
	color: #333;
}

h3 a:hover{
	text-shadow: 0 0 18px #4da9ff;
}

p{
	font-family: 'Adobe Ming Std', serif;
}

/* HEADER STYLES */
header{
	width: 80%;
    padding: 0 10%;
    height: auto;
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: hidden;
    /*display: block;*/
}

header h1{
	position: relative;
	top: 30px;
	margin: 0 auto;
	text-align: center;
	display: block;
	font: 72px 'code', sans-serif;
	letter-spacing: 2px;
}

header h1 a{
	display: block;
	text-align: center;
}

.navbar{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	/*flex: 1 1 auto;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	/*display: block;*/
	
}

nav ul{
	list-style-type: none;
	display: flex;
	margin: 20px auto;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	display: flex;
	flex: 1 1 auto;
	/*float: left;*/
	padding: 0 10px;
	margin: auto;
	font: 24px 'Adobe Ming Std', serif;
	line-height: 25px;
}

nav ul li a{
	display: block;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
	color: #333;
}

nav ul li a:hover{
	text-shadow: 0 0 18px #9999ff;

}


/* STORIES PAGE STYLES */

#stories div.child{
	position: relative;
}

#stories h3{
	position: absolute;
	text-align: center;
	top: 0;
	display: block;
	padding: 0;
	margin: 30px auto;
}

#stories div.one h3{
	font-size: 32px;
	position: absolute;
	left: 13px;
}

#stories div.two h3{
	position: absolute;
	left: 100px;
}

#stories div.three h3{
	position: absolute;
	left: 25px;
}

#stories div.four h3{
	font-size: 26px;
	position: absolute;
	left: 14px;
}

#stories div.five h3{
	position: absolute;
	left: 72px;
}

#stories div.six h3{
	position: absolute;
	left: 65px;
}

#stories h4{
	position: absolute;
	text-align: center;
	top: 70px;
	left: 107px;
	display: block;
	padding: 0;
	margin: auto;
}

#stories p{
	font-size: 15px;
	text-align: left;
	display: block;
	position: absolute;
	top: 120px;
	width: auto;
	padding: 0;
	margin: 0 20px;
}

/* POETRY PAGE STYLES */

#poetry div.child{
	position: relative;
}

#poetry img{
	position: absolute;
	top: 5px;
	display: block;
	margin: 0 50px;
}

#poetry h3{
	position: absolute;
	text-align: center;
	top: 150px;
	/*left: 102px;*/
	display: block;
	width: auto;
	height: auto;
	padding: 0;
	margin: 30px auto;	
}

#poetry h4{
	position: absolute;
	top: 215px;
	/*left: 107px;*/
	display: block;
	padding: 0;
	margin: auto;
	width: auto;
}

#poetry p{
	position: absolute;
	font-size: 15px;
	text-align: left;
	display: block;
	top: 245px;
	left: 10px;
	width: auto;
	margin: 0 10px;
}

#poetry .one h3{
	position: absolute;
	left: 45px;
}

#poetry .one h4{
	position: absolute;
	left: 95px;
}

#poetry .two h3{
	position: absolute;
	left: 30px;
}

#poetry .two h4{
	position: absolute;
	left: 95px;
}
#poetry .two p{
	position: absolute;
	left: 70px;
}

#poetry .three h3{
	position: absolute;
	left: 20px;
	font-size: 24px;
}

#poetry .three h4{
	position: absolute;
	left: 105px;
}
#poetry .three p{
	position: absolute;
	left: 30px;
}

#poetry .four h3{
	position: absolute;
	left: 20px;
	font-size: 28px;
}

#poetry .four h4{
	position: absolute;
	left: 95px;
}
#poetry .four p{
	position: absolute;
	left: 30px;
}

#poetry .five h3{
	position: absolute;
	left: 20px;
	font-size: 28px;
}

#poetry .five h4{
	position: absolute;
	left: 105px;
}
 
 #poetry .six h3{
	position: absolute;
	left: 15px;
	font-size: 34px;
}

#poetry .six h4{
	position: absolute;
	left: 105px;
}


/* ABOUT PAGE STYLES */

#about div.parent{
	width: 80%;
	height: auto;
	margin: 200px auto 30px auto;
	position: relative;
}

#about div.parent div{
	width: 80%;
	height: auto;
	display: block;
}

#about div div.welcome{
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	margin: 20px auto;
}

#about h2{

}

#about div div div{
	margin: 20px auto;
	box-shadow: 0 0 10px #ffe6e6, inset 0 0 10px #ffe6e6;
}

#about div div.info{
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	margin: 30px auto;
}

#about div.parent div div p{
	font-size: 24px;
	padding: 0;
	margin: 20px auto 20px 20px;
	text-align: left;
}


/* HOME PAGE STYLES */

#home div.parent{
	width: 80%;
	height: auto;
	margin: 200px auto 30px auto;
	position: relative;
}

#home div.parent div{
	width: 80%;
	height: auto;
	display: block;
}

#home div.parent div h2{
	display: block;
}

#home div.submission{
	margin: 20px auto;
	box-shadow: 0 0 10px #ffe6e6, inset 0 0 10px #ffe6e6;
}

#home div.parent div div.submission h3{
	text-decoration: none;
	color: #333;
	text-align: center;
	display: inline-block;
	position: relative;
	/*width: auto;*/
	bottom: 165px;
	overflow: hidden;
	/*z-index: 25;*/
	/*left: 280px;*/
}

#home div.parent h4{
	display: inline-block;
	position: absolute;
	width: auto;
	top: 150px;
	left: 455px;
}

#home div.parent div div.submission p{
	font-size: 15px;
	text-align: left;
	display: inline-block;
	position: absolute;
	width: auto;
	top: 185px;
	left: 455px;
}

#home div.parent div div.submission img{
	margin: 20px 20px 20px 40px;
	/*z-index: 50;*/
}

#home div.staff{
	margin: 40px auto 20px auto;
}

#home div.staff div{
	padding: 0;
	margin: auto;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

#home div.staff div div{
	width: 300px;
	height: 400px;
	position: relative;
	/*display: inline-block;*/
	margin: 20px auto;
	box-shadow: 0 0 10px #ffe6e6, inset 0 0 10px #ffe6e6;
}

#home div.staff h3{
	position: absolute;
	text-align: center;
	top: 0;
	display: block;
	padding: 0;
	margin: 30px auto;
}

#home div.staff h4{
	position: absolute;
	top: 70px;
	left: 107px;
	display: block;
	padding: 0;
	margin: auto;
	width: auto;
}

#home div.staff p{
	position: absolute;
	font-size: 15px;
	text-align: left;
	display: block;
	top: 120px;
	left: 10px;
	width: auto;
	margin: 0 10px;
}





















